# Kaggle Taxi travel prediction challenge
https://www.kaggle.com/c/cs6140fall/data

# Data preprocessing

In [104]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import os
# get 3.x version division and print method

In [2]:
os.chdir("/Users/songzhewei/Desktop/Data Science/master course/machine learning/Mini Project/all")

In [3]:
df_train_input = pd.read_csv('train.csv',header = 0)

In [1]:
def travel_time(ployline):
    temp = [0 for _ in range(len(ployline))]
    for i in range(0,len(ployline)):
        temp[i]=ployline[i].count(',')*15
    return temp

In [5]:
df_train_input['trip_time']=travel_time(df_train_input['POLYLINE'])

In [6]:
df_test_input = pd.read_csv('test_public.csv',header = 0)

In [7]:
from datetime import datetime
A=df_train_input['TIMESTAMP']
temp2 = [0 for _ in range(len(A))]
for i in range(0,len(A)):
    temp2[i]=datetime.fromtimestamp(A[i]).strftime("%Y-%m-%d %H:%M:%S")

In [8]:
df_train_input['datetime']=temp2

In [9]:
def Get_Start_End(location_feature):
    temp_start = [0 for _ in range(len(location_feature))]
    temp_end = [0 for _ in range(len(location_feature))]
    for i in range(0,len(location_feature)):
        j=i
        str=location_feature[i]
        strlist = str.split(',')
        temp_start[i]=strlist[0]
        temp_end[j]=strlist[-1]
    return temp_start,temp_end

In [10]:
df_train_input['start_gps'],df_train_input['end_gps']=Get_Start_End(df_train_input['POLYLINE'])

In [19]:
# delete missing value
df_train=df_train_input[df_train_input.MISSING_DATA==False]
df_train=df_train_input.drop(columns=['MISSING_DATA'])

In [20]:
B=df_test_input['TIMESTAMP']
temp3 = [0 for _ in range(len(B))]
for j in range(0,len(B)):
    temp3[j]=datetime.fromtimestamp(B[j]).strftime("%Y-%m-%d %H:%M:%S")
df_test_input['datetime']=temp3
df_test=df_test_input[df_train_input.MISSING_DATA==False]
df_test=df_test_input.drop(columns=['MISSING_DATA'])

/Users/songzhewei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [21]:
df_train['month'] = pd.DatetimeIndex(df_train.datetime).month
df_train['day'] = pd.DatetimeIndex(df_train.datetime).dayofweek
df_train['hour'] = pd.DatetimeIndex(df_train.datetime).hour
df_train['minute'] = pd.DatetimeIndex(df_train.datetime).minute

In [22]:
df_test['month'] = pd.DatetimeIndex(df_test.datetime).month
df_test['day'] = pd.DatetimeIndex(df_test.datetime).dayofweek
df_test['hour'] = pd.DatetimeIndex(df_test.datetime).hour
df_test['minute'] = pd.DatetimeIndex(df_test.datetime).minute

In [15]:
df_train.dtypes

TRIP_ID           int64
CALL_TYPE        object
ORIGIN_CALL     float64
ORIGIN_STAND    float64
TAXI_ID           int64
TIMESTAMP         int64
DAY_TYPE         object
POLYLINE         object
trip_time         int64
datetime         object
start_gps        object
end_gps          object
month             int64
day               int64
hour              int64
minute            int64
dtype: object

In [34]:
df_train.shape

(1710670, 16)

In [35]:
df_train.count()

TRIP_ID         1710670
CALL_TYPE       1710670
ORIGIN_CALL      364770
ORIGIN_STAND     806579
TAXI_ID         1710670
TIMESTAMP       1710670
DAY_TYPE        1710670
POLYLINE        1710670
trip_time       1710670
datetime        1710670
start_gps       1710670
end_gps         1710670
month           1710670
day             1710670
hour            1710670
minute          1710670
dtype: int64

In [23]:
base_df_stats = new_df = df_train[['trip_time','month','day','hour','minute']].groupby(by=['month', 'day','hour','minute']).agg(['mean', 'std'])
base_df_stats.columns = base_df_stats.columns.droplevel(0)
base_df_stats = base_df_stats.reset_index()
base_df_stats2 = new_df = df_train[['trip_time','month','day','hour']].groupby(by=['month', 'day','hour']).agg(['mean', 'std'])
base_df_stats2.columns = base_df_stats2.columns.droplevel(0)
base_df_stats2 = base_df_stats2.reset_index()
base_stats_join = pd.merge(base_df_stats, base_df_stats2, how='inner', on=['month', 'day','hour'])
data_df = pd.merge(df_train, base_stats_join, how='left', on=['day', 'month', 'hour', 'minute'])
# data_df=data_df.fillna(0)

In [25]:
qujian_month=[0,3,6,9,12]
qujian_hour=[0,6,11,17,24]
data_df ['month']=pd.cut(data_df .month,qujian_month,labels=['spring','summer','fall','winter'])
data_df ['hour']=pd.cut(data_df .hour,qujian_hour,labels=['midnight','morning','afternoon','night'])
qujian_minute=[0,20,40,60]
data_df['minute']=pd.cut(data_df.minute,qujian_minute,labels=['early_20','medium_20','last_20'])

In [26]:
data_df['hour']=data_df['hour'].fillna('midnight')
data_df['minute']=data_df['minute'].fillna('early_20')

In [27]:
data_df_test = pd.merge(df_test, base_stats_join, how='left', on=['day', 'month', 'hour', 'minute'])
data_df_test['month']=pd.cut(data_df_test.month,qujian_month,labels=['spring','summer','fall','winter'])
data_df_test['hour']=pd.cut(data_df_test.hour,qujian_hour,labels=['midnight','morning','afternoon','night'])
data_df_test['minute']=pd.cut(data_df_test.minute,qujian_minute,labels=['early_20','medium_20','last_20'])
data_df_test['hour']=data_df_test['hour'].fillna('midnight')
data_df_test['minute']=data_df_test['minute'].fillna('early_20')

In [28]:
data_df_test

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,datetime,month,day,hour,minute,mean_x,std_x,mean_y,std_y
0,T1,B,NaN,15.0,20000542,1408039037,A,2014-08-14 13:57:17,fall,3,afternoon,last_20,1429.000000,596.547208,1546.452569,2877.214610
1,T2,B,NaN,57.0,20000108,1408038611,A,2014-08-14 13:50:11,fall,3,afternoon,last_20,1281.923077,540.576615,1546.452569,2877.214610
2,T3,B,NaN,15.0,20000370,1408038568,A,2014-08-14 13:49:28,fall,3,afternoon,last_20,1523.181818,911.741590,1546.452569,2877.214610
3,T4,B,NaN,53.0,20000492,1408039090,A,2014-08-14 13:58:10,fall,3,afternoon,last_20,1339.615385,643.075304,1546.452569,2877.214610
4,T5,B,NaN,18.0,20000621,1408039177,A,2014-08-14 13:59:37,fall,3,afternoon,last_20,1407.631579,644.151829,1546.452569,2877.214610
5,T6,A,42612.0,NaN,20000607,1408037146,A,2014-08-14 13:25:46,fall,3,afternoon,medium_20,1691.666667,888.031531,1546.452569,2877.214610
6,T7,B,NaN,15.0,20000310,1408038846,A,2014-08-14 13:54:06,fall,3,afternoon,last_20,1555.263158,854.108492,1546.452569,2877.214610
7,T8,A,31780.0,NaN,20000619,1408038948,A,2014-08-14 13:55:48,fall,3,afternoon,last_20,1227.500000,481.949167,1546.452569,2877.214610
8,T9,B,NaN,9.0,20000503,1408038563,A,2014-08-14 13:49:23,fall,3,afternoon,last_20,1523.181818,911.741590,1546.452569,2877.214610
9,T10,B,NaN,15.0,20000327,1408038021,A,2014-08-14 13:40:21,fall,3,afternoon,medium_20,990.000000,644.551339,1546.452569,2877.214610
10,T11,B,NaN,56.0,20000664,1408038267,A,2014-08-14 13:44:27,fall,3,afternoon,last_20,1533.750000,1105.958860,1546.452569,2877.214610
11,T12,C,NaN,NaN,20000160,1408038946,A,2014-08-14 13:55:46,fall,3,afternoon,last_20,1227.500000,481.949167,1546.452569,2877.214610
12,T13,C,NaN,NaN,20000017,1408039130,A,2014-08-14 13:58:50,fall,3,afternoon,last_20,1339.615385,643.075304,1546.452569,2877.214610
13,T14,C,NaN,NaN,20000312,1408036255,A,2014-08-14 13:10:55,fall,3,afternoon,early_20,1639.615385,1021.998946,1546.452569,2877.214610
14,T15,C,NaN,NaN,20000497,1408038388,A,2014-08-14 13:46:28,fall,3,afternoon,last_20,1442.647059,619.107517,1546.452569,2877.214610
15,T16,C,NaN,NaN,20000440,1408037740,A,2014-08-14 13:35:40,fall,3,afternoon,medium_20,1550.000000,844.290513,1546.452569,2877.214610
16,T17,C,NaN,NaN,20000467,1408038804,A,2014-08-14 13:53:24,fall,3,afternoon,last_20,1554.473684,914.879917,1546.452569,2877.214610
17,T18,C,NaN,NaN,20000338,1408038215,A,2014-08-14 13:43:35,fall,3,afternoon,last_20,1696.363636,600.890573,1546.452569,2877.214610
18,T19,B,NaN,15.0,20000101,1408038749,A,2014-08-14 13:52:29,fall,3,afternoon,last_20,1212.857143,515.127745,1546.452569,2877.214610
19,T20,C,NaN,NaN,20000523,1408036754,A,2014-08-14 13:19:14,fall,3,afternoon,early_20,1341.923077,937.162247,1546.452569,2877.214610
20,T21,B,NaN,15.0,20000460,1408039125,A,2014-08-14 13:58:45,fall,3,afternoon,last_20,1339.615385,643.075304,1546.452569,2877.214610
21,T22,A,85698.0,NaN,20000199,1408039009,A,2014-08-14 13:56:49,fall,3,afternoon,last_20,1623.333333,849.783710,1546.452569,2877.214610
22,T23,A,37007.0,NaN,20000480,1408038924,A,2014-08-14 13:55:24,fall,3,afternoon,last_20,1227.500000,481.949167,1546.452569,2877.214610
23,T24,B,NaN,15.0,20000250,1408039145,A,2014-08-14 13:59:05,fall,3,afternoon,last_20,1407.631579,644.151829,1546.452569,2877.214610
24,T25,B,NaN,12.0,20000903,1408039057,A,2014-08-14 13:57:37,fall,3,afternoon,last_20,1429.000000,596.547208,1546.452569,2877.214610
25,T26,B,NaN,49.0,20000247,1408039029,A,2014-08-14 13:57:09,fall,3,afternoon,last_20,1429.000000,596.547208,1546.452569,2877.214610
26,T27,B,NaN,15.0,20000263,1408038859,A,2014-08-14 13:54:19,fall,3,afternoon,last_20,1555.263158,854.108492,1546.452569,2877.214610
27,T28,B,NaN,15.0,20000500,1408039165,A,2014-08-14 13:59:25,fall,3,afternoon,last_20,1407.631579,644.151829,1546.452569,2877.214610
28,T29,B,NaN,21.0,20000617,1408038439,A,2014-08-14 13:47:19,fall,3,afternoon,last_20,1628.333333,2078.959016,1546.452569,2877.214610
29,T30,B,NaN,15.0,20000288,1408038605,A,2014-08-14 13:50:05,fall,3,afternoon,last_20,1281.923077,540.576615,1546.452569,2877.214610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,T298,B,NaN,16.0,20000158,1419171969,A,2014-12-21 09:26:09,winter,6,morning,medium_20,1451.842105,918.852259,1374.428571,1289.964070
291,T299,C,NaN,NaN,20000693,1419166062,A,2014-12-21 07:47:42,winter,6,morning,last_20,1386.000000,630.571170,1437.734772,1168.186091
292,T300,A,41052.0,NaN,20000051,1419171407,A,2014-12-21 09:16:47,winter,6,morning,early_20,1257.500000,707.905040,1374.428571,1289.964070
293,T301,C,NaN,NaN,20000100,1419171112,A,2014-12-21 09:11:52,winter,6,morning,early_20,915.000000,567.230112,1374.428571,1289.964070
294,T302,A,34651.0,NaN,20000450,1419171742,A,2014-12-21 09:22:22,winter,6,morning,medium_20,1268.571429,413.886033,1374.428571,1289.964070
295,T303,B,NaN,42.0,20000067,1419172159,A,2014-12-21 09:29:19,winter,6,morning,medium_20,1505.769231,1518.801400,1374.428571,1289.964070
296,T304,A,59708.0,NaN,20000612,1419172057,A,2014-12-21 09:27:37,winter,6,morning,medium_20,1151.666667,497.141831,1374.428571,1289.964070
297,T305,B,NaN,53.0,20000320,1419171753,A,2014-12-21 09:22:33,winter,6,morning,medium_20,1268.571429,413.886033,1374.428571,1289.964070
298,T306,C,NaN,NaN,20000047,1419171985,A,2014-12-21 09:26:25,winter,6,morning,medium_20,1451.842105,918.852259,1374.428571,1289.964070
299,T307,C,NaN,NaN,20000081,1419171073,A,2014-12-21 09:11:13,winter,6,morning,early_20,915.000000,567.230112,1374.428571,1289.964070
300,T308,C,NaN,NaN,20000542,1419162114,A,2014-12-21 06:41:54,winter,6,midnight,last_20,1296.428571,638.722970,1443.891892,1545.884882
301,T309,C,NaN,NaN,20000109,1419167924,A,2014-12-21 08:18:44,winter,6,morning,early_20,1303.333333,568.136790,1295.456376,1116.232289
302,T310,A,73071.0,NaN,20000548,1419171991,A,2014-12-21 09:26:31,winter,6,morning,medium_20,1451.842105,918.852259,1374.428571,1289.964070
303,T311,C,NaN,NaN,20000247,1419161986,A,2014-12-21 06:39:46,winter,6,midnight,medium_20,1656.000000,1168.764305,1443.891892,1545.884882
304,T312,A,36542.0,NaN,20000565,1419171813,A,2014-12-21 09:23:33,winter,6,morning,medium_20,1871.000000,2653.694998,1374.428571,1289.964070
305,T313,A,75037.0,NaN,20000383,1419171819,A,2014-12-21 09:23:39,winter,6,morning,medium_20,1871.000000,2653.694998,1374.428571,1289.964070
306,T314,A,56743.0,NaN,20000345,1419171903,A,2014-12-21 09:25:03,winter,6,morning,medium_20,1968.333333,1038.845513,1374.428571,1289.964070
307,T315,A,37332.0,NaN,20000486,1419171879,A,2014-12-21 09:24:39,winter,6,morning,medium_20,1251.666667,436.233882,1374.428571,1289.964070
308,T316,C,NaN,NaN,20000496,1419171893,A,2014-12-21 09:24:53,winter,6,morning,medium_20,1251.666667,436.233882,1374.428571,1289.964070
309,T317,A,48578.0,NaN,20000436,1419171826,A,2014-12-21 09:23:46,winter,6,morning,medium_20,1871.000000,2653.694998,1374.428571,1289.964070
310,T318,B,NaN,22.0,20000325,1419171921,A,2014-12-21 09:25:21,winter,6,morning,medium_20,1968.333333,1038.845513,1374.428571,1289.964070
311,T319,A,80148.0,NaN,20000281,1419171095,A,2014-12-21 09:11:35,winter,6,morning,early_20,915.000000,567.230112,1374.428571,1289.964070
312,T320,A,66812.0,NaN,20000549,1419164220,A,2014-12-21 07:17:00,winter,6,morning,early_20,1382.142857,831.539021,1437.734772,1168.186091
313,T321,C,NaN,NaN,20000393,1419168199,A,2014-12-21 08:23:19,winter,6,morning,medium_20,1248.000000,739.520115,1295.456376,1116.232289
314,T322,C,NaN,NaN,20000391,1419171201,A,2014-12-21 09:13:21,winter,6,morning,early_20,1675.000000,692.928568,1374.428571,1289.964070
315,T323,A,70885.0,NaN,20000430,1419171485,A,2014-12-21 09:18:05,winter,6,morning,early_20,1794.000000,1130.048672,1374.428571,1289.964070
316,T324,B,NaN,53.0,20000020,1419170802,A,2014-12-21 09:06:42,winter,6,morning,early_20,1091.470588,403.034446,1374.428571,1289.964070
317,T325,C,NaN,NaN,20000207,1419172121,A,2014-12-21 09:28:41,winter,6,morning,medium_20,1235.000000,471.963982,1374.428571,1289.964070
318,T326,A,76232.0,NaN,20000667,1419171980,A,2014-12-21 09:26:20,winter,6,morning,medium_20,1451.842105,918.852259,1374.428571,1289.964070
319,T327,A,31208.0,NaN,20000255,1419171420,A,2014-12-21 09:17:00,winter,6,morning,early_20,1750.714286,1699.170450,1374.428571,1289.964070

In [29]:
version1_test=data_df_test.ix[:,[8,9,10,11,12,13,14,15]]

/Users/songzhewei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [30]:
version1=data_df.ix[:,[8,12,13,14,15,16,17,18,19]]

/Users/songzhewei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [32]:
var_to_encode=['month','day','hour','minute']
one_hot_version1 = pd.get_dummies(version1, columns=var_to_encode)

In [33]:
version1_test_oneHot= pd.get_dummies(version1_test, columns=var_to_encode)

In [34]:
one_hot_version1.columns

Index(['trip_time', 'mean_x', 'std_x', 'mean_y', 'std_y', 'month_spring',
       'month_summer', 'month_fall', 'month_winter', 'day_0', 'day_1', 'day_2',
       'day_3', 'day_4', 'day_5', 'day_6', 'hour_midnight', 'hour_morning',
       'hour_afternoon', 'hour_night', 'minute_early_20', 'minute_medium_20',
       'minute_last_20'],
      dtype='object')

In [67]:
version1_test_oneHot.columns

Index(['mean_x', 'std_x', 'mean_y', 'std_y', 'month_spring', 'month_summer',
       'month_fall', 'month_winter', 'day_0', 'day_1', 'day_3', 'day_4',
       'day_6', 'hour_midnight', 'hour_morning', 'hour_afternoon',
       'hour_night', 'minute_early_20', 'minute_medium_20', 'minute_last_20'],
      dtype='object')

In [69]:
version1_test_oneHot['day_2'] = [0 for _ in range(320)]
version1_test_oneHot['day_5'] = [0 for _ in range(320)]

In [110]:
one_hot_version1=one_hot_version1.drop(['mean_x','std_x','mean_y','std_y'],axis=1)

In [111]:
temporary=one_hot_version1

In [112]:
one_hot_version1=temporary.fillna(0)

In [113]:
one_hot_version1

,trip_time,month_spring,month_summer,month_fall,month_winter,day_0,day_1,day_2,day_3,day_4,day_5,day_6,hour_midnight,hour_morning,hour_afternoon,hour_night,minute_early_20,minute_medium_20,minute_last_20
0,675,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
1,555,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
2,1935,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
3,1275,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
4,855,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
5,765,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
6,1065,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
7,1005,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
8,1125,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
9,555,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
10,645,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
11,1305,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
12,945,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
13,1005,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0
14,825,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0
15,1905,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
16,1935,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0
17,555,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0
18,495,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
19,255,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0
20,435,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0
21,1275,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
22,1035,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0
23,585,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1
24,765,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
25,225,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0
26,1695,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1
27,855,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
28,525,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1
29,315,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710640,885,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
1710641,4035,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
1710642,1515,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0
1710643,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,1
1710644,915,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0
1710645,3915,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
1710646,885,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1
1710647,1065,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
1710648,105,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0
1710649,855,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
1710650,1005,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1
1710651,1245,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0
1710652,2625,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0
1710653,375,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1
1710654,1185,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0
1710655,3405,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
1710656,495,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0
1710657,15,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0
1710658,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
1710659,1605,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1
1710660,15,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,0
1710661,975,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1
1710662,2115,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
1710663,5805,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0
1710664,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
1710665,945,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0
1710666,885,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0
1710667,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1
1710668,1845,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
1710669,795,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0

In [156]:
df_train_target = one_hot_version1['trip_time'].values
df_train_data = one_hot_version1.drop(['trip_time'],axis = 1).values
print ('df_train_data shape is ', df_train_data.shape)
print ('df_train_target shape is ', df_train_target.shape)

df_train_data shape is  (531549, 18)
df_train_target shape is  (531549,)

In [115]:
version1_test_oneHot=version1_test_oneHot.drop(['mean_x','std_x','mean_y','std_y'],axis=1)

In [155]:
one_hot_version1=one_hot_version1[(one_hot_version1['trip_time']<=1000)&(one_hot_version1['trip_time']>=200)]

In [116]:
df_test_data = version1_test_oneHot.values

In [134]:
X_lgb = df_train_data
y_lgb = df_train_target.reshape(df_train_target.shape[0],)

In [157]:
from sklearn import ensemble
clf = ensemble.GradientBoostingRegressor()
gbdt_model = clf.fit(df_train_data, df_train_target)  # Training model
y_upper = gbdt_model.predict(df_test_data)  # predict

In [158]:
commit_df = pd.DataFrame(y_upper).astype('int')
df_test['TRAVEL_TIME']=commit_df

In [159]:
submit4=df_test.ix[:,[0,12]]

In [145]:
submit4['TRAVEL_TIME']=submit4['TRAVEL_TIME']-600

/Users/songzhewei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [135]:
import lightgbm as lgb
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
%matplotlib inline
# create dataset for lightgbm
lgb_train = lgb.Dataset(X_lgb, y_lgb)
# specify your configurations as a dict
params = {
    'num_leaves': 128,
    'learning_rate':0.01,
    'n_estimators':800,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.8,
    'bagging_freq': 5,
    'application':'regression_l1'
}

print('Start training...')
# train
gbm = lgb.train(params,
                lgb_train,
                num_boost_round=2000)

Start training...

/Users/songzhewei/anaconda3/lib/python3.6/site-packages/lightgbm/engine.py:113: UserWarning: Found `n_estimators` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

In [136]:
# commit_df = pd.date_range('2016/9/1', periods=30, freq='D')
# commit_df = pd.DataFrame(commit_df)
# commit_df.columns = ['predict_date']
y_predict = gbm.predict(df_test_data )
commit_df = pd.DataFrame(y_predict).astype('int')
df_test['TRAVEL_TIME']=commit_df

In [137]:
submit4=df_test.ix[:,[0,12]]

In [161]:
submit4.to_csv('submit13.csv')

In [47]:
from sklearn import linear_model
from sklearn import cross_validation
from sklearn import svm
from sklearn.ensemble import RandomForestRegressor
from sklearn.learning_curve import learning_curve
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import explained_variance_score

/Users/songzhewei/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/songzhewei/anaconda3/lib/python3.6/site-packages/sklearn/learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)
/Users/songzhewei/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [61]:
# æ€»å¾—åˆ‡åˆ†ä¸€ä¸‹æ•°æ®å’¯ï¼ˆè®­ç»ƒé›†å’Œæµ‹è¯•é›†ï¼‰
cv = cross_validation.ShuffleSplit(len(df_train_data), n_iter=3, test_size=0.2,
    random_state=0)
print ("éšæœºæ£®æž—å›žå½’/Random Forest(n_estimators = 100)")   
for train, test in cv:    
    svc = RandomForestRegressor(n_estimators = 100).fit(df_train_data[train], df_train_target[train])
    print("train score: {0:.3f}, test score: {1:.3f}\n".format(
        svc.score(df_train_data[train], df_train_target[train]), svc.score(df_train_data[test], df_train_target[test])))

éšæœºæ£®æž—å›žå½’/Random Forest(n_estimators = 100)
train score: 0.103, test score: -0.066

train score: 0.103, test score: -0.072

train score: 0.103, test score: -0.065

In [72]:
y_predict2 = svc.predict(df_test_data)
commit_df2 = pd.DataFrame(y_predict2).astype('int')
df_test['TRAVEL_TIME']=commit_df2

In [75]:
submit5=df_test.ix[:,[0,12]]

In [76]:
submit5.to_csv('submit5.csv')

In [16]:
type_A=df_train.dropna(axis = 0, subset = ['ORIGIN_CALL'] )  #è®­ç»ƒé›†ä¸­364770æ¡æœ‰ç”¨æˆ·è®°å½•
type_B=df_train.dropna(axis=0,subset=['ORIGIN_STAND'])
df_train_TypeC=df_train.fillna('NaN')
type_C=df_train_TypeC[(df_train_TypeC['ORIGIN_CALL']=='NaN')&(df_train_TypeC['ORIGIN_STAND']=='NaN')]
type_A_test=df_test.dropna(axis = 0, subset = ['ORIGIN_CALL'] )
type_B_test=df_test.dropna(axis = 0, subset = ['ORIGIN_STAND'] )

In [17]:
df_test_TypeC=df_test.fillna('NaN')
type_C_test=df_test_TypeC[(df_test_TypeC['ORIGIN_CALL']=='NaN')&(df_test_TypeC['ORIGIN_STAND']=='NaN')]

In [84]:
type_A=type_A[(type_A['trip_time']>=500)&(type_A['trip_time']<=3500)]

In [85]:
type_A

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,POLYLINE,trip_time,datetime,start_gps,end_gps,month,day,hour,minute
12,1372637343620000571,A,31508.0,NaN,20000571,1372637343,A,"[[-8.618868,41.155101],[-8.6175,41.154912],[-8...",945,2013-06-30 20:09:03,[[-8.618868,41.162265]],6,6,20,9
17,1372639135620000570,A,33180.0,NaN,20000570,1372639135,A,"[[-8.666757,41.174055],[-8.666784,41.174064],[...",555,2013-06-30 20:38:55,[[-8.666757,41.181714]],6,6,20,38
21,1372637254620000657,A,39233.0,NaN,20000657,1372637254,A,"[[-8.660646,41.168574],[-8.661087,41.167926],[...",1275,2013-06-30 20:07:34,[[-8.660646,41.181813]],6,6,20,7
24,1372637658620000596,A,22864.0,NaN,20000596,1372637658,A,"[[-8.665686,41.170626],[-8.665677,41.170653],[...",765,2013-06-30 20:14:18,[[-8.665686,41.187816]],6,6,20,14
26,1372639535620000161,A,25862.0,NaN,20000161,1372639535,A,"[[-8.648226,41.148333],[-8.648514,41.148297],[...",1695,2013-06-30 20:45:35,[[-8.648226,41.097357]],6,6,20,45
36,1372640130620000010,A,4082.0,NaN,20000010,1372640130,A,"[[-8.621523,41.177673],[-8.621532,41.177682],[...",765,2013-06-30 20:55:30,[[-8.621523,41.164209]],6,6,20,55
41,1372638793620000571,A,2002.0,NaN,20000571,1372638793,A,"[[-8.574705,41.142717],[-8.574696,41.142726],[...",1215,2013-06-30 20:33:13,[[-8.574705,41.142636]],6,6,20,33
57,1372638451620000621,A,59594.0,NaN,20000621,1372638451,A,"[[-8.602209,41.163372],[-8.601651,41.163759],[...",1035,2013-06-30 20:27:31,[[-8.602209,41.193315]],6,6,20,27
70,1372641048620000560,A,40433.0,NaN,20000560,1372641048,A,"[[-8.578683,41.145777],[-8.579448,41.146488],[...",735,2013-06-30 21:10:48,[[-8.578683,41.154507]],6,6,21,10
72,1372641858620000154,A,21875.0,NaN,20000154,1372641858,A,"[[-8.623152,41.164191],[-8.623422,41.164227],[...",615,2013-06-30 21:24:18,[[-8.623152,41.160087]],6,6,21,24
73,1372638303620000112,A,63882.0,NaN,20000112,1372638303,A,"[[-8.587116,41.162427],[-8.586198,41.162112],[...",3465,2013-06-30 20:25:03,[[-8.587116,41.162436]],6,6,20,25
85,1372639380620000201,A,33597.0,NaN,20000201,1372639380,A,"[[-8.620245,41.151015],[-8.620848,41.150853],[...",1665,2013-06-30 20:43:00,[[-8.620245,41.180724]],6,6,20,43
91,1372640550620000233,A,23799.0,NaN,20000233,1372640550,A,"[[-8.619327,41.156064],[-8.619201,41.155479],[...",555,2013-06-30 21:02:30,[[-8.619327,41.164155]],6,6,21,2
103,1372641886620000089,A,22495.0,NaN,20000089,1372641886,A,"[[-8.660232,41.152977],[-8.66214,41.153697],[-...",585,2013-06-30 21:24:46,[[-8.660232,41.158863]],6,6,21,24
105,1372637397620000190,A,2002.0,NaN,20000190,1372637397,A,"[[-8.620938,41.150034],[-8.620992,41.150007],[...",1665,2013-06-30 20:09:57,[[-8.620938,41.177214]],6,6,20,9
107,1372638504620000600,A,4609.0,NaN,20000600,1372638504,A,"[[-8.573616,41.17077],[-8.574057,41.170572],[-...",1905,2013-06-30 20:28:24,[[-8.573616,41.146443]],6,6,20,28
108,1372641278620000009,A,27738.0,NaN,20000009,1372641278,A,"[[-8.604765,41.169969],[-8.605611,41.169744],[...",945,2013-06-30 21:14:38,[[-8.604765,41.183982]],6,6,21,14
127,1372646710620000367,A,52460.0,NaN,20000367,1372646710,A,"[[-8.614035,41.146479],[-8.614044,41.146524],[...",1935,2013-06-30 22:45:10,[[-8.614035,41.161392]],6,6,22,45
131,1372646292620000101,A,8939.0,NaN,20000101,1372646292,A,"[[-8.619291,41.149908],[-8.61795,41.150061],[-...",1875,2013-06-30 22:38:12,[[-8.619291,41.231907]],6,6,22,38
141,1372642438620000657,A,30736.0,NaN,20000657,1372642438,A,"[[-8.689392,41.167872],[-8.688312,41.167386],[...",1635,2013-06-30 21:33:58,[[-8.689392,41.190381]],6,6,21,33
145,1372646917620000190,A,28382.0,NaN,20000190,1372646917,A,"[[-8.619912,41.152473],[-8.619921,41.152491],[...",1755,2013-06-30 22:48:37,[[-8.619912,41.148396]],6,6,22,48
152,1372646982620000600,A,36572.0,NaN,20000600,1372646982,A,"[[-8.61399,41.147028],[-8.613459,41.147577],[-...",1995,2013-06-30 22:49:42,[[-8.61399,41.1624]],6,6,22,49
158,1372646391620000233,A,55499.0,NaN,20000233,1372646391,A,"[[-8.617725,41.15007],[-8.617698,41.14998],[-8...",1125,2013-06-30 22:39:51,[[-8.617725,41.158008]],6,6,22,39
165,1372641068620000178,A,52403.0,NaN,20000178,1372641068,A,"[[-8.60679,41.152284],[-8.607132,41.151735],[-...",1215,2013-06-30 21:11:08,[[-8.60679,41.124366]],6,6,21,11
183,1372649198620000403,A,8939.0,NaN,20000403,1372649198,A,"[[-8.61957,41.149809],[-8.619543,41.149836],[-...",1095,2013-06-30 23:26:38,[[-8.61957,41.14881]],6,6,23,26
187,1372646651620000688,A,43149.0,NaN,20000688,1372646651,A,"[[-8.580357,41.17851],[-8.580375,41.178429],[-...",1485,2013-06-30 22:44:11,[[-8.580357,41.169978]],6,6,22,44
193,1372648404620000503,A,23631.0,NaN,20000503,1372648404,A,"[[-8.63658,41.149899],[-8.637327,41.149962],[-...",615,2013-06-30 23:13:24,[[-8.63658,41.148225]],6,6,23,13
204,1372647564620000454,A,38867.0,NaN,20000454,1372647564,A,"[[-8.641665,41.156478],[-8.641809,41.155992],[...",705,2013-06-30 22:59:24,[[-8.641665,41.154309]],6,6,22,59
205,1372649288620000517,A,63882.0,NaN,20000517,1372649288,A,"[[-8.601201,41.181759],[-8.601192,41.18175],[-...",1125,2013-06-30 23:28:08,[[-8.601201,41.193918]],6,6,23,28
208,1372647232620000173,A,6654.0,NaN,20000173,1372647232,A,"[[-8.607249,41.14566],[-8.60724,41.145651],[-8...",2805,2013-06-30 22:53:52,[[-8.607249,41.180679]],6,6,22,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710434,1404166588620000058,A,24317.0,NaN,20000058,1404166588,A,"[[-8.649045,41.152455],[-8.648397,41.152581],[...",585,2014-06-30 18:16:28,[[-8.649045,41.154489]],6,0,18,16
1710435,1404172506620000370,A,2024.0,NaN,20000370,1404172506,A,"[[-8.587134,41.162463],[-8.587125,41.162472],[...",525,2014-06-30 19:55:06,[[-8.587134,41.163381]],6,0,19,55
1710446,1404166712620000254,A,61151.0,NaN,20000254,1404166712,A,"[[-8.607006,41.168898],[-8.606979,41.168871],[...",1365,2014-06-30 18:18:32,[[-8.607006,41.166351]],6,0,18,18
1710449,1404156149620000230,A,41105.0,NaN,20000230,1404156149,A,"[[-8.637309,41.163903],[-8.637021,41.163912],[...",645,2014-06-30 15:22:29,[[-8.637309,41.177988]],6,0,15,22
1710469,1404145512620000685,A,63882.0,NaN,20000685,1404145512,A,"[[-8.669943,41.161077],[-8.669745,41.161059],[...",1545,2014-06-30 12:25:12,[[-8.669943,41.15502]],6,0,12,25
1710474,1404170269620000499,A,31776.0,NaN,20000499,1404170269,A,"[[-8.68131,41.156532],[-8.68131,41.156514],[-8...",1335,2014-06-30 19:17:49,[[-8.68131,41.198481]],6,0,19,17
1710476,1404148840620000172,A,32968.0,NaN,20000172,1404148840,A,"[[-8.649396,41.165514],[-8.649486,41.165487],[...",945,2014-06-30 13:20:40,[[-8.649396,41.157792]],6,0,13,20
1710479,1404163658620000267,A,3800.0,NaN,20000267,1404163658,A,"[[-8.61597,41.166036],[-8.615862,41.166432],[-...",945,2014-06-30 17:27:38,[[-8.61597,41.161608]],6,0,17,27
1710490,1404146672620000409,A,9818.0,NaN,20000409,1404146672,A,"[[-8.627337,41.179869],[-8.627337,41.179851],[...",3315,2014-06-30 12:44:32,[[-8.627337,41.180922]],6,0,12,44
1710497,1404151851620000215,A,6728.0,NaN,20000215,1404151851,A,"[[-8.613054,41.140584],[-8.613081,41.14053],[-...",2325,2014-06-30 14:10:51,[[-8.613054,41.150664]],6,0,14,10
1710498,1404156569620000111,A,47822.0,NaN,20000111,1404156569,A,"[[-8.680032,41.154984],[-8.680338,41.155317],[...",1785,2014-06-30 15:29:29,[[-8.680032,41.176566]],6,0,15,29
1710512,1404151492620000523,A,24257.0,NaN,20000523,1404151492,A,"[[-8.625177,41.157243],[-8.625177,41.157243],[...",3225,2014-06-30 14:04:52,[[-8.625177,41.155623]],6,0,14,4
1710517,1404169937620000495,A,5239.0,NaN,20000495,1404169937,A,"[[-8.607483,41.145444],[-8.607483,41.145444],[...",1335,2014-06-30 19:12:17,[[-8.607483,41.12568]],6,0,19,12
1710527,1404153104620000303,A,47501.0,NaN,20000303,1404153104,A,"[[-8.586828,41.17383],[-8.586846,41.173821],[-...",2025,2014-06-30 14:31:44,[[-8.586828,41.148891]],6,0,14,31
1710530,1404155073620000099,A,4690.0,NaN,20000099,1404155073,A,"[[-8.62083,41.157045],[-8.620857,41.157018],[-...",1215,2014-06-30 15:04:33,[[-8.62083,41.14692]],6,0,15,4
1710537,1404148033620000261,A,54964.0,NaN,20000261,1404148033,A,"[[-8.623017,41.150196],[-8.622945,41.149431],[...",2505,2014-06-30 13:07:13,[[-8.623017,41.236965]],6,0,13,7
1710551,1404167387620000601,A,4874.0,NaN,20000601,1404167387,A,"[[-8.606214,41.148621],[-8.606178,41.148612],[...",1275,2014-06-30 18:29:47,[[-8.606214,41.13036]],6,0,18,29
1710552,1404142232620000006,A,2002.0,NaN,20000006,1404142232,A,"[[-8.610084,41.146281],[-8.609616,41.146704],[...",2025,2014-06-30 11:30:32,[[-8.610084,41.236722]],6,0,11,30
1710554,1404164763620000014,A,37499.0,NaN,20000014,1404164763,A,"[[-8.612685,41.140458],[-8.612613,41.140458],[...",1365,2014-06-30 17:46:03,[[-8.612685,41.159799]],6,0,17,46
1710561,1403908694620000054,A,45933.0,NaN,20000054,1403908694,A,"[[-8.581266,41.146083],[-8.58114,41.14341],[-8...",1665,2014-06-27 18:38:14,[[-8.581266,41.156541]],6,4,18,38
1710563,1404169808620000216,A,2002.0,NaN,20000216,1404169808,A,"[[-8.624331,41.179518],[-8.624322,41.179491],[...",1275,2014-06-30 19:10:08,[[-8.624331,41.154507]],6,0,19,10
1710571,1404156151620000146,A,34164.0,NaN,20000146,1404156151,A,"[[-8.574291,41.152059],[-8.574507,41.152059],[...",1125,2014-06-30 15:22:31,[[-8.574291,41.145012]],6,0,15,22
1710593,1404167989620000488,A,16686.0,NaN,20000488,1404167989,A,"[[-8.664282,41.158584],[-8.665425,41.158098],[...",1125,2014-06-30 18:39:49,[[-8.664282,41.146002]],6,0,18,39
1710607,1404159205620000419,A,55688.0,NaN,20000419,1404159205,A,"[[-8.646588,41.141691],[-8.646579,41.1417],[-8...",3075,2014-06-30 16:13:25,[[-8.646588,41.141016]],6,0,16,13
1710608,1404147616620000041,A,17619.0,NaN,20000041,1404147616,A,"[[-8.620263,41.159241],[-8.620155,41.159133],[...",585,2014-06-30 13:00:16,[[-8.620263,41.150934]],6,0,13,0
1710618,1404158883620000023,A,55921.0,NaN,20000023,1404158883,A,"[[-8.599671,41.168403],[-8.599671,41.16843],[-...",1485,2014-06-30 16:08:03,[[-8.599671,41.190561]],6,0,16,8
1710620,1404001674620000157,A,14123.0,NaN,20000157,1404001674,A,"[[-8.638587,41.159088],[-8.638488,41.15907],[-...",1515,2014-06-28 20:27:54,[[-8.638587,41.14746]],6,5,20,27
1710650,1404168899620000002,A,33357.0,NaN,20000002,1404168899,A,"[[-8.63568,41.171886],[-8.634924,41.171859],[-...",1005,2014-06-30 18:54:59,[[-8.63568,41.157756]],6,0,18,54
1710651,1404153627620000187,A,2002.0,NaN,20000187,1404153627,A,"[[-8.574714,41.142681],[-8.574714,41.142681],[...",1245,2014-06-30 14:40:27,[[-8.574714,41.143194]],6,0,14,40
1710659,1403941536620000213,A,52688.0,NaN,20000213,1403941536,A,"[[-8.574732,41.157099],[-8.574849,41.156775],[...",1605,2014-06-28 03:45:36,[[-8.574732,41.14962]],6,5,3,45

In [120]:
type_C[(type_C['month']==8)&(type_C['day']==3)&(type_C['hour']==13)&(type_C['minute']==58)]

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,POLYLINE,trip_time,datetime,start_gps,end_gps,month,day,hour,minute
150117,1375379901620000429,C,NaN,NaN,20000429,1375379901,A,"[[-8.560935,41.168601]]",15,2013-08-01 13:58:21,[[-8.560935,41.168601]],8,3,13,58
207450,1376589529620000006,C,NaN,NaN,20000006,1376589529,A,"[[-8.61003,41.140962],[-8.610165,41.141016],[-...",1215,2013-08-15 13:58:49,[[-8.61003,41.15277]],8,3,13,58
208915,1376589513620000229,C,NaN,NaN,20000229,1376589513,A,"[[-8.613891,41.177673],[-8.613909,41.177673],[...",615,2013-08-15 13:58:33,[[-8.613891,41.173956]],8,3,13,58

In [19]:
# type_A_test[(type_A_test['month']==9)&(type_A_test['day']==1)&
#                     (type_A_test['hour']==4)]

In [68]:
# test_customer_match=pd.merge(type_A_test,type_A,on='ORIGIN_CALL',how='left')
# test_customer_match2=test_customer_match[['TRIP_ID_x','TAXI_ID_x','ORIGIN_CALL','datetime_x','month_x','day_x','hour_x','minute_x','TRIP_ID_y','TAXI_ID_y','datetime_y','month_y','day_y','hour_y','minute_y','trip_time']]

In [20]:
#æµ‹è¯•é›†ä¸­ç”¨æˆ·åœ¨è®­ç»ƒé›†ä¸­å‡ºçŽ°è¿‡çš„è®°å½•
# test_customer_match3=test_customer_match2.dropna(axis = 0, subset = ['TRIP_ID_y'] )
# test_customer_match3['TRIP_ID_x'].unique()
#test_customer_match customer appeared in train dataset also appear in test dataset
#test_customer_match2 æå–é‡è¦ç‰¹å¾ï¼ˆbased on domain knowledge)
#test_customer_match3 åˆ é™¤è®­ç»ƒé›†ä¸­ä¸Žæµ‹è¯•é›†ä¸é‡åˆçš„è®°å½•

In [104]:
# test_stand_match=pd.merge(type_B_test,type_B,on='ORIGIN_STAND',how='left')
# test_stand_match2=test_stand_match[['TRIP_ID_x','TAXI_ID_x','ORIGIN_STAND','datetime_x','month_x','day_x','hour_x','minute_x','TRIP_ID_y','TAXI_ID_y','datetime_y','month_y','day_y','hour_y','minute_y','trip_time']]
# test_stand_match2['ORIGIN_STAND'].unique()

In [105]:
# type_B_test['ORIGIN_STAND'].unique()

In [106]:
# test_stand_match2[(test_stand_match2['ORIGIN_STAND']==15.0)&(test_stand_match2['month_y']==9)&
#                   (test_stand_match2['day_y']==1)&(test_stand_match2['hour_y']==4)&(test_stand_match2['minute_y']==19)]

In [21]:
# df_train_target1 = test_customer_match3['trip_time'].values
# df_train_customer = test_customer_match3.drop(['trip_time','TRIP_ID_x','month_x','hour_x','day_x','TRIP_ID_y',],axis = 1).values
# print('df_train_customer shape is ', df_train_customer.shape)
# print('df_train_target1 shape is ', df_train_target1.shape)

# Machine Learning Algorithms

In [37]:
from sklearn import linear_model
from sklearn import cross_validation
from sklearn import svm
from sklearn.ensemble import RandomForestRegressor
from sklearn.learning_curve import learning_curve
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import explained_variance_score

/Users/songzhewei/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/songzhewei/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
/Users/songzhewei/anaconda3/lib/python3.6/site-packages/sklearn/learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)
/Users/songzhewei/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [87]:
base_df=type_A[['datetime','ORIGIN_CALL','month','day','hour','minute','trip_time','TAXI_ID']]

In [88]:
base_df_stats = new_df = base_df[['trip_time','month','day','hour','minute','ORIGIN_CALL','TAXI_ID']].groupby(by=['month', 'day','hour','minute','ORIGIN_CALL','TAXI_ID']).agg(['mean', 'std'])
base_df_stats.columns = base_df_stats.columns.droplevel(0)
base_df_stats = base_df_stats.reset_index()

In [89]:
base_df_stats[base_df_stats['TAXI_ID']==20000508]

        month  day  hour  minute  ORIGIN_CALL   TAXI_ID  mean  std
219         1    0     2      24       2002.0  20000508   525  NaN
502         1    0     3      33      54512.0  20000508   765  NaN
1030        1    0     4      54      29682.0  20000508   645  NaN
1422        1    0     6       3       7825.0  20000508  1725  NaN
1581        1    0     6      40      27588.0  20000508  1725  NaN
3276        1    0    14      59       9105.0  20000508   825  NaN
3958        1    1     2      16      40651.0  20000508  1695  NaN
4059        1    1     2      53      30608.0  20000508  1725  NaN
4145        1    1     3      15      13794.0  20000508  2055  NaN
4419        1    1     4       2      43288.0  20000508  1305  NaN
4420        1    1     4       2      44551.0  20000508  2745  NaN
4519        1    1     4      22       2002.0  20000508   975  NaN
4785        1    1     5       8       2002.0  20000508  1965  NaN
5109        1    1     6      22      16172.0  20000508  1185  NaN
5518        1    1     8      19      12480.0  20000508  1905  NaN
5740        1    1     9      23      45542.0  20000508   705  NaN
5881        1    1     9      52      15427.0  20000508  1095  NaN
6056        1    1    10      32      57577.0  20000508   885  NaN
6234        1    1    11      19      23335.0  20000508  2085  NaN
7628        1    2     1      54      34035.0  20000508  1065  NaN
8112        1    2     3      50       6323.0  20000508  1905  NaN
8598        1    2     5      12       2002.0  20000508  1575  NaN
8628        1    2     5      18      52357.0  20000508  1275  NaN
9610        1    2     9       0      51774.0  20000508  1035  NaN
9671        1    2     9      13      19714.0  20000508  2925  NaN
9993        1    2    10      17       8585.0  20000508  1245  NaN
10440       1    2    11      43      13168.0  20000508  1755  NaN
10617       1    2    12      20      60152.0  20000508   705  NaN
12863       1    3     4       7      12427.0  20000508   885  NaN
12927       1    3     4      16      62902.0  20000508  1605  NaN
...       ...  ...   ...     ...          ...       ...   ...  ...
326239     12    4    14       7       2002.0  20000508  1845  NaN
326656     12    4    15      49      43414.0  20000508  3405  NaN
327059     12    4    17      29      14084.0  20000508  1515  NaN
327210     12    4    18      22      12199.0  20000508  1005  NaN
327791     12    4    22       1      30591.0  20000508   765  NaN
327926     12    4    23      46      26961.0  20000508   855  NaN
327941     12    4    23      52       6654.0  20000508  2025  NaN
327967     12    5     0       2       4070.0  20000508  2235  NaN
328016     12    5     0      27      52046.0  20000508  1635  NaN
328073     12    5     1      16      60289.0  20000508   585  NaN
328193     12    5     2      35      14392.0  20000508   945  NaN
328560     12    5     4      49      12205.0  20000508  1965  NaN
329339     12    5     9      43      59972.0  20000508  2715  NaN
329432     12    5    10      15      24869.0  20000508  1935  NaN
329488     12    5    10      40      45764.0  20000508   855  NaN
330795     12    5    17      47       2002.0  20000508  2055  NaN
331095     12    5    19      40       2002.0  20000508  1215  NaN
331289     12    5    20      43       2002.0  20000508  1215  NaN
331339     12    5    20      57      59477.0  20000508   975  NaN
331734     12    6     0      29       9676.0  20000508  1155  NaN
331792     12    6     1       2      51509.0  20000508   975  NaN
331877     12    6     1      50       7167.0  20000508   885  NaN
331885     12    6     1      52      63557.0  20000508  1155  NaN
332070     12    6     3      28      61922.0  20000508  1215  NaN
332220     12    6     4      37      44467.0  20000508  1095  NaN
332239     12    6     4      48       8585.0  20000508  1065  NaN
332337     12    6     5      32      34588.0  20000508  1095  NaN
332359     12    6     5      42      31614.0  20000508  1395  NaN
332449     12    6     6      17      36647.0  20000508  1245  NaN
332479     12    6     6      29       2002.0  20000508   885  NaN

[786 rows x 8 columns]

In [19]:
# base_df_stats2 = new_df = base_df[['trip_time','month','day','hour']].groupby(by=['month', 'day','hour']).agg(['mean', 'std'])
# base_df_stats2.columns = base_df_stats2.columns.droplevel(0)
# base_df_stats2 = base_df_stats2.reset_index()
# base_stats_join = pd.merge(base_df_stats, base_df_stats2, how='inner', on=['month', 'day','hour'])
# data_df = pd.merge(base_df, base_stats_join, how='inner', on=['day', 'month', 'hour', 'minute'])
# data_df=data_df.fillna(0)

In [172]:
# stats_df = pd.merge(type_A_test, data_df, how='left', on=['day', 'month', 'hour','ORIGIN_CALL'])
stats_df = pd.merge(type_A_test, base_df_stats, how='left', on=['month','day','hour','minute','ORIGIN_CALL'])
typeA_customer_match=stats_df.dropna(axis=0,subset=['mean'])

In [173]:
typeA_customer_match['TRIP_ID'].unique()

array(['T37', 'T64', 'T117', 'T194', 'T235', 'T260'], dtype=object)

In [179]:
typeA_customer_match[(typeA_customer_match['TRIP_ID']=='T260')]

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID_x,TIMESTAMP,DAY_TYPE,datetime,month,day,hour,minute,TAXI_ID_y,mean,std
58,T260,A,2002.0,NaN,20000190,1414813685,A,2014-10-31 23:48:05,10,4,23,48,20000009.0,825.0,NaN

In [51]:
B_base_df=type_B[['datetime','ORIGIN_STAND','month','day','hour','minute','trip_time']]
B_base_df_stats = B_new_df = B_base_df[['trip_time','month','day','hour','minute','ORIGIN_STAND']].groupby(by=['month', 'day','hour','minute','ORIGIN_STAND']).agg(['mean', 'std'])
B_base_df_stats.columns = B_base_df_stats.columns.droplevel(0)
B_base_df_stats = B_base_df_stats.reset_index()

In [52]:
B_base_df_stats2 = B_new_df = B_base_df[['trip_time','month','day','hour','ORIGIN_STAND']].groupby(by=['month', 'day','hour','ORIGIN_STAND']).agg(['mean', 'std'])
B_base_df_stats2.columns = B_base_df_stats2.columns.droplevel(0)
B_base_df_stats2 = B_base_df_stats2.reset_index()
B_base_stats_join = pd.merge(B_base_df_stats, B_base_df_stats2, how='inner', on=['month', 'day','hour','ORIGIN_STAND'])
B_data_df = pd.merge(B_base_df, B_base_stats_join, how='inner', on=['day', 'month', 'hour', 'minute','ORIGIN_STAND'])

In [54]:
B_stats_df = pd.merge(type_B_test, B_data_df, how='left', on=['day', 'month', 'hour','ORIGIN_STAND'])

In [121]:
C_base_df=type_C[['datetime','month','day','hour','minute','trip_time']]
C_base_df_stats = C_new_df = C_base_df[['trip_time','month','day','hour','minute']].groupby(by=['month', 'day','hour','minute']).agg(['mean', 'std'])
C_base_df_stats.columns = C_base_df_stats.columns.droplevel(0)
C_base_df_stats = C_base_df_stats.reset_index()

In [122]:
C_base_df_stats2 = C_new_df = C_base_df[['trip_time','month','day','hour']].groupby(by=['month', 'day','hour']).agg(['mean', 'std'])
C_base_df_stats2.columns = C_base_df_stats2.columns.droplevel(0)
C_base_df_stats2 = C_base_df_stats2.reset_index()
C_base_stats_join = pd.merge(C_base_df_stats, C_base_df_stats2, how='inner', on=['month', 'day','hour'])
C_data_df = pd.merge(C_base_df, C_base_stats_join, how='inner', on=['day', 'month', 'hour', 'minute'])

In [123]:
C_stats_df = pd.merge(type_C_test, C_data_df, how='left', on=['day', 'month', 'hour'])

In [131]:
C_stats_df_fill=C_stats_df.fillna('NaN')
C_stats_df_fill[C_stats_df_fill['minute_y']==10]

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,datetime_x,month,day,hour,minute_x,datetime_y,minute_y,trip_time,mean_x,std_x,mean_y,std_y
31,T12,C,NaN,NaN,20000160,1408038946,A,2014-08-14 13:55:46,8,3,13,55,2013-08-01 13:10:17,10,15,1891.666667,1647.48,1557.024793,1420.082851
32,T12,C,NaN,NaN,20000160,1408038946,A,2014-08-14 13:55:46,8,3,13,55,2013-08-01 13:10:57,10,855,1891.666667,1647.48,1557.024793,1420.082851
33,T12,C,NaN,NaN,20000160,1408038946,A,2014-08-14 13:55:46,8,3,13,55,2013-08-01 13:10:45,10,1125,1891.666667,1647.48,1557.024793,1420.082851
34,T12,C,NaN,NaN,20000160,1408038946,A,2014-08-14 13:55:46,8,3,13,55,2013-08-08 13:10:39,10,1065,1891.666667,1647.48,1557.024793,1420.082851
35,T12,C,NaN,NaN,20000160,1408038946,A,2014-08-14 13:55:46,8,3,13,55,2013-08-08 13:10:32,10,2385,1891.666667,1647.48,1557.024793,1420.082851
36,T12,C,NaN,NaN,20000160,1408038946,A,2014-08-14 13:55:46,8,3,13,55,2013-08-08 13:10:51,10,2325,1891.666667,1647.48,1557.024793,1420.082851
37,T12,C,NaN,NaN,20000160,1408038946,A,2014-08-14 13:55:46,8,3,13,55,2013-08-08 13:10:09,10,1575,1891.666667,1647.48,1557.024793,1420.082851
38,T12,C,NaN,NaN,20000160,1408038946,A,2014-08-14 13:55:46,8,3,13,55,2013-08-15 13:10:46,10,1875,1891.666667,1647.48,1557.024793,1420.082851
39,T12,C,NaN,NaN,20000160,1408038946,A,2014-08-14 13:55:46,8,3,13,55,2013-08-29 13:10:09,10,5805,1891.666667,1647.48,1557.024793,1420.082851
273,T13,C,NaN,NaN,20000017,1408039130,A,2014-08-14 13:58:50,8,3,13,58,2013-08-01 13:10:17,10,15,1891.666667,1647.48,1557.024793,1420.082851
274,T13,C,NaN,NaN,20000017,1408039130,A,2014-08-14 13:58:50,8,3,13,58,2013-08-01 13:10:57,10,855,1891.666667,1647.48,1557.024793,1420.082851
275,T13,C,NaN,NaN,20000017,1408039130,A,2014-08-14 13:58:50,8,3,13,58,2013-08-01 13:10:45,10,1125,1891.666667,1647.48,1557.024793,1420.082851
276,T13,C,NaN,NaN,20000017,1408039130,A,2014-08-14 13:58:50,8,3,13,58,2013-08-08 13:10:39,10,1065,1891.666667,1647.48,1557.024793,1420.082851
277,T13,C,NaN,NaN,20000017,1408039130,A,2014-08-14 13:58:50,8,3,13,58,2013-08-08 13:10:32,10,2385,1891.666667,1647.48,1557.024793,1420.082851
278,T13,C,NaN,NaN,20000017,1408039130,A,2014-08-14 13:58:50,8,3,13,58,2013-08-08 13:10:51,10,2325,1891.666667,1647.48,1557.024793,1420.082851
279,T13,C,NaN,NaN,20000017,1408039130,A,2014-08-14 13:58:50,8,3,13,58,2013-08-08 13:10:09,10,1575,1891.666667,1647.48,1557.024793,1420.082851
280,T13,C,NaN,NaN,20000017,1408039130,A,2014-08-14 13:58:50,8,3,13,58,2013-08-15 13:10:46,10,1875,1891.666667,1647.48,1557.024793,1420.082851
281,T13,C,NaN,NaN,20000017,1408039130,A,2014-08-14 13:58:50,8,3,13,58,2013-08-29 13:10:09,10,5805,1891.666667,1647.48,1557.024793,1420.082851
515,T14,C,NaN,NaN,20000312,1408036255,A,2014-08-14 13:10:55,8,3,13,10,2013-08-01 13:10:17,10,15,1891.666667,1647.48,1557.024793,1420.082851
516,T14,C,NaN,NaN,20000312,1408036255,A,2014-08-14 13:10:55,8,3,13,10,2013-08-01 13:10:57,10,855,1891.666667,1647.48,1557.024793,1420.082851
517,T14,C,NaN,NaN,20000312,1408036255,A,2014-08-14 13:10:55,8,3,13,10,2013-08-01 13:10:45,10,1125,1891.666667,1647.48,1557.024793,1420.082851
518,T14,C,NaN,NaN,20000312,1408036255,A,2014-08-14 13:10:55,8,3,13,10,2013-08-08 13:10:39,10,1065,1891.666667,1647.48,1557.024793,1420.082851
519,T14,C,NaN,NaN,20000312,1408036255,A,2014-08-14 13:10:55,8,3,13,10,2013-08-08 13:10:32,10,2385,1891.666667,1647.48,1557.024793,1420.082851
520,T14,C,NaN,NaN,20000312,1408036255,A,2014-08-14 13:10:55,8,3,13,10,2013-08-08 13:10:51,10,2325,1891.666667,1647.48,1557.024793,1420.082851
521,T14,C,NaN,NaN,20000312,1408036255,A,2014-08-14 13:10:55,8,3,13,10,2013-08-08 13:10:09,10,1575,1891.666667,1647.48,1557.024793,1420.082851
522,T14,C,NaN,NaN,20000312,1408036255,A,2014-08-14 13:10:55,8,3,13,10,2013-08-15 13:10:46,10,1875,1891.666667,1647.48,1557.024793,1420.082851
523,T14,C,NaN,NaN,20000312,1408036255,A,2014-08-14 13:10:55,8,3,13,10,2013-08-29 13:10:09,10,5805,1891.666667,1647.48,1557.024793,1420.082851
757,T15,C,NaN,NaN,20000497,1408038388,A,2014-08-14 13:46:28,8,3,13,46,2013-08-01 13:10:17,10,15,1891.666667,1647.48,1557.024793,1420.082851
758,T15,C,NaN,NaN,20000497,1408038388,A,2014-08-14 13:46:28,8,3,13,46,2013-08-01 13:10:57,10,855,1891.666667,1647.48,1557.024793,1420.082851
759,T15,C,NaN,NaN,20000497,1408038388,A,2014-08-14 13:46:28,8,3,13,46,2013-08-01 13:10:45,10,1125,1891.666667,1647.48,1557.024793,1420.082851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58020,T307,C,NaN,NaN,20000081,1419171073,A,2014-12-21 09:11:13,12,6,9,11,2013-12-15 09:10:35,10,945,945.000000,0,1523.863636,2272.422713
58021,T307,C,NaN,NaN,20000081,1419171073,A,2014-12-21 09:11:13,12,6,9,11,2013-12-22 09:10:46,10,945,945.000000,0,1523.863636,2272.422713
58143,T308,C,NaN,NaN,20000542,1419162114,A,2014-12-21 06:41:54,12,6,6,41,2013-12-01 06:10:49,10,2565,1470.000000,820.305,1722.419355,2660.694647
58144,T308,C,NaN,NaN,20000542,1419162114,A,2014-12-21 06:41:54,12,6,6,41,2013-12-15 06:10:37,10,1005,1470.000000,820.305,1722.419355,2660.694647
58145,T308,C,NaN,NaN,20000542,1419162114,A,2014-12-21 06:41:54,12,6,6,41,2013-12-22 06:10:36,10,705,1470.000000,820.305,1722.419355,2660.694647
58146,T308,C,NaN,NaN,20000542,1419162114,A,2014-12-21 06:41:54,12,6,6,41,2013-12-29 06:10:27,10,1605,1470.000000,820.305,1722.419355,2660.694647
58239,T309,C,NaN,NaN,20000109,1419167924,A,2014-12-21 08:18:44,12,6,8,18,2013-12-01 08:10:26,10,675,1725.000000,2181.63,1325.483871,1199.023153
58240,T309,C,NaN,NaN,20000109,1419167924,A,2014-12-21 08:18:44,12,6,8,18,2013-12-08 08:10:09,10,6645,1725.000000,2181.63,1325.483871,1199.023153
58241,T309,C,NaN,NaN,20000109,1419167924,A,2014-12-21 08:18:44,12,6,8,18,2013-12-08 08:10:28,10,1065,1725.000000,2181.63,1325.483871,1199.023153
58242,T309,C,NaN,NaN,20000109,1419167924,A,2014-12-21 08:18:44,12,6,8,18,2013-12-22 08:10:24,10,1245,1725.000000,2181.63,1325.483871,1199.023153
58243,T309,C,NaN,NaN,20000109,1419167924,A,2014-12-21 08:18:44,12,6,8,18,2013-12-22 08:10:35,10,735,1725.000000,2181.63,1325.483871,1199.023153
58244,T309,C,NaN,NaN,20000109,1419167924,A,2014-12-21 08:18:44,12,6,8,18,2013-12-29 08:10:58,10,645,1725.000000,2181.63,1325.483871,1199.023153
58245,T309,C,NaN,NaN,20000109,1419167924,A,2014-12-21 08:18:44,12,6,8,18,2013-12-29 08:10:25,10,1065,1725.000000,2181.63,1325.483871,1199.023153
58515,T311,C,NaN,NaN,20000247,1419161986,A,2014-12-21 06:39:46,12,6,6,39,2013-12-01 06:10:49,10,2565,1470.000000,820.305,1722.419355,2660.694647
58516,T311,C,NaN,NaN,20000247,1419161986,A,2014-12-21 06:39:46,12,6,6,39,2013-12-15 06:10:37,10,1005,1470.000000,820.305,1722.419355,2660.694647
58517,T311,C,NaN,NaN,20000247,1419161986,A,2014-12-21 06:39:46,12,6,6,39,2013-12-22 06:10:36,10,705,1470.000000,820.305,1722.419355,2660.694647
58518,T311,C,NaN,NaN,20000247,1419161986,A,2014-12-21 06:39:46,12,6,6,39,2013-12-29 06:10:27,10,1605,1470.000000,820.305,1722.419355,2660.694647
58754,T316,C,NaN,NaN,20000496,1419171893,A,2014-12-21 09:24:53,12,6,9,24,2013-12-15 09:10:35,10,945,945.000000,0,1523.863636,2272.422713
58755,T316,C,NaN,NaN,20000496,1419171893,A,2014-12-21 09:24:53,12,6,9,24,2013-12-22 09:10:46,10,945,945.000000,0,1523.863636,2272.422713
58787,T321,C,NaN,NaN,20000393,1419168199,A,2014-12-21 08:23:19,12,6,8,23,2013-12-01 08:10:26,10,675,1725.000000,2181.63,1325.483871,1199.023153
58788,T321,C,NaN,NaN,20000393,1419168199,A,2014-12-21 08:23:19,12,6,8,23,2013-12-08 08:10:09,10,6645,1725.000000,2181.63,1325.483871,1199.023153
58789,T321,C,NaN,NaN,20000393,1419168199,A,2014-12-21 08:23:19,12,6,8,23,2013-12-08 08:10:28,10,1065,1725.000000,2181.63,1325.483871,1199.023153
58790,T321,C,NaN,NaN,20000393,1419168199,A,2014-12-21 08:23:19,12,6,8,23,2013-12-22 08:10:24,10,1245,1725.000000,2181.63,1325.483871,1199.023153
58791,T321,C,NaN,NaN,20000393,1419168199,A,2014-12-21 08:23:19,12,6,8,23,2013-12-22 08:10:35,10,735,1725.000000,2181.63,1325.483871,1199.023153
58792,T321,C,NaN,NaN,20000393,1419168199,A,2014-12-21 08:23:19,12,6,8,23,2013-12-29 08:10:58,10,645,1725.000000,2181.63,1325.483871,1199.023153
58793,T321,C,NaN,NaN,20000393,1419168199,A,2014-12-21 08:23:19,12,6,8,23,2013-12-29 08:10:25,10,1065,1725.000000,2181.63,1325.483871,1199.023153
59116,T322,C,NaN,NaN,20000391,1419171201,A,2014-12-21 09:13:21,12,6,9,13,2013-12-15 09:10:35,10,945,945.000000,0,1523.863636,2272.422713
59117,T322,C,NaN,NaN,20000391,1419171201,A,2014-12-21 09:13:21,12,6,9,13,2013-12-22 09:10:46,10,945,945.000000,0,1523.863636,2272.422713
59292,T325,C,NaN,NaN,20000207,1419172121,A,2014-12-21 09:28:41,12,6,9,28,2013-12-15 09:10:35,10,945,945.000000,0,1523.863636,2272.422713
59293,T325,C,NaN,NaN,20000207,1419172121,A,2014-12-21 09:28:41,12,6,9,28,2013-12-22 09:10:46,10,945,945.000000,0,1523.863636,2272.422713

In [132]:
TRIP_ID='T400'
same_value=10
temp_predict_C = [0 for _ in range(len(C_stats_df_fill))]
for i in range(0,len(C_stats_df_fill)):
    if C_stats_df_fill.iloc[i]['TRIP_ID']==TRIP_ID:
        temp_predict_C[i]=same_value
    else:
        minute_x=C_stats_df_fill.iloc[i]['minute_x']
        temp_filter=C_stats_df_fill[(C_stats_df_fill['month']==C_stats_df_fill.iloc[i]['month'])&
                                    (C_stats_df_fill['day']==C_stats_df_fill.iloc[i]['day'])&
                                    (C_stats_df_fill['hour']==C_stats_df_fill.iloc[i]['hour'])&
                                    (C_stats_df_fill['minute_y']==minute_x)]
        while temp_filter.empty:
                minute_x=minute_x+1
                temp_filter=C_stats_df_fill[(C_stats_df_fill['month']==C_stats_df_fill.iloc[i]['month'])&
                                    (C_stats_df_fill['day']==C_stats_df_fill.iloc[i]['day'])&
                                    (C_stats_df_fill['hour']==C_stats_df_fill.iloc[i]['hour'])&
                                    (C_stats_df_fill['minute_y']==minute_x)]
                if minute_x>=60:
                    break
        minute_x=C_stats_df_fill['minute_x']
        while temp_filter.empty:        
                minute_x=minute_x-1
                temp_filter=C_stats_df_fill[(C_stats_df_fill['month']==C_stats_df_fill.iloc[i]['month'])&
                                    (C_stats_df_fill['day']==C_stats_df_fill.iloc[i]['day'])&
                                    (C_stats_df_fill['hour']==C_stats_df_fill.iloc[i]['hour'])&
                                    (C_stats_df_fill['minute_y']==minute_x)]
        temp_predict_C[i]=temp_filter.iloc[0]['mean_x']
        same_value=temp_predict_C[i]
        print(same_value)
        TRIP_ID=C_stats_df_fill.iloc[i]['TRIP_ID']
        print(TRIP_ID)

1335.0
T12
615.0
T13
1891.6666666666667
T14
2085.0
T15
1200.0
T16
1191.0
T17
1665.0
T18
635.0
T20
1537.5
T33
1472.142857142857
T34
2947.5
T35
3573.0
T36
615.0
T42
1537.5
T43
879.0
T47
1335.0
T48
1145.0
T59
1285.0
T62
1335.0
T63
2580.0
T69
963.0
T71
2827.5
T72
1770.0
T74
2135.0
T76
505.0
T78
2135.0
T79
5880.0
T80
1407.0
T87
505.0
T88
1407.0
T93
4065.0
T94
1485.0
T98
1710.0
T102
2385.0
T107
1761.0
T121
1710.0
T124
975.0
T131
505.0
T132
1581.0
T134
1012.5
T138
2135.0
T139
2135.0
T140
2385.0
T141
1615.0
T146
1581.0
T154
1950.0
T159
1545.0
T161
1417.5
T169
1162.5
T174
2259.0
T176
2196.4285714285716
T180
2259.0
T183
3639.0
T191
2259.0
T193
2535.0
T197
2253.0
T201
1260.0
T203
2259.0
T204
1235.0
T206
6086.25
T208
2070.0
T211
1875.0
T212
1923.0
T217
1395.0
T220
2313.0
T228
1665.0
T229
1027.5
T231
2196.4285714285716
T234
829.2857142857143
T237
1152.2727272727273
T239
1433.5714285714287
T240
1152.2727272727273
T241
829.2857142857143
T242
910.2631578947369
T243
1146.8181818181818
T244
1152.2727272727273
T245
1577.7272727272727
T246
1537.5
T248
1132.5
T249
910.2631578947369
T252
1020.0
T253
1216.6666666666667
T255
1347.0
T256
1512.6923076923076
T259
1120.3846153846155
T261
1132.5
T263
991.0
T264
1152.2727272727273
T265
991.0
T266
1132.5
T267
1537.5
T268
1537.5
T269
1152.2727272727273
T270
1316.6666666666667
T271
991.0
T272
1146.8181818181818
T274
1132.5
T275
1243.5714285714287
T276
1335.0
T277
829.2857142857143
T278
1512.6923076923076
T279
1120.3846153846155
T280
829.2857142857143
T282
991.0
T285
829.2857142857143
T286
1512.6923076923076
T287
1189.6153846153845
T288
1512.6923076923076
T289
829.2857142857143
T290
1243.5714285714287
T292
829.2857142857143
T294
966.0
T295
829.2857142857143
T296
1537.5
T297
1492.5
T299
105.0
T301
1773.0
T306
105.0
T307
735.0
T308
1102.5
T309
2745.0
T311
1485.0
T316
1415.0
T321
1515.0
T322
1125.0
T325

In [133]:
C_stats_df_fill['predict']=temp_predict_C
stats_TypeC_predict=C_stats_df_fill.drop_duplicates(['TRIP_ID'])
stats_TypeC_predict=stats_TypeC_predict[['TRIP_ID','predict']]
stats_TypeC_predict

      TRIP_ID      predict
0         T12  1335.000000
242       T13   615.000000
484       T14  1891.666667
726       T15  2085.000000
968       T16  1200.000000
1210      T17  1191.000000
1452      T18  1665.000000
1694      T20   635.000000
1936      T33  1537.500000
2178      T34  1472.142857
2420      T35  2947.500000
2662      T36  3573.000000
2904      T42   615.000000
3146      T43  1537.500000
3388      T47   879.000000
3630      T48  1335.000000
3872      T59  1145.000000
4114      T62  1285.000000
4356      T63  1335.000000
4598      T69  2580.000000
4840      T71   963.000000
5103      T72  2827.500000
5345      T74  1770.000000
5587      T76  2135.000000
5819      T78   505.000000
6051      T79  2135.000000
6283      T80  5880.000000
6515      T87  1407.000000
6747      T88   505.000000
6979      T93  1407.000000
...       ...          ...
40566    T274  1146.818182
41460    T275  1132.500000
42354    T276  1243.571429
43248    T277  1335.000000
44142    T278   829.285714
45036    T279  1512.692308
45930    T280  1120.384615
46824    T282   829.285714
47718    T285   991.000000
48612    T286   829.285714
49506    T287  1512.692308
50400    T288  1189.615385
51042    T289  1512.692308
51936    T290   829.285714
52830    T292  1243.571429
53724    T294   829.285714
54618    T295   966.000000
55512    T296   829.285714
56406    T297  1537.500000
57300    T299  1492.500000
57517    T301   105.000000
57693    T306  1773.000000
57869    T307   105.000000
58045    T308   735.000000
58231    T309  1102.500000
58417    T311  2745.000000
58603    T316  1485.000000
58779    T321  1415.000000
58965    T322  1515.000000
59141    T325  1125.000000

[125 rows x 2 columns]

In [78]:
B_stats_df_fill=B_stats_df.fillna('NaN')
B_stats_df_fill[B_stats_df_fill['minute_y']=='NaN']
#T82 T258 æ²¡æœ‰é¢„æµ‹

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,datetime_x,month,day,hour,minute_x,datetime_y,minute_y,trip_time,mean_x,std_x,mean_y,std_y
1622,T82,B,NaN,59.0,20000617,1412065511,A,2014-09-30 04:25:11,9,1,4,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3070,T258,B,NaN,10.0,20000239,1414814326,A,2014-10-31 23:58:46,10,4,23,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
extra_T82=type_B[(type_B['month']==9)&(type_B['day']==1)&(type_B['hour']==4)&(type_B['minute']==25)]

In [140]:
np.mean(extra_T82['trip_time'])

1534.2857142857142

In [142]:
extra_T258=type_B[(type_B['month']==10)&(type_B['day']==4)&(type_B['hour']==23)&(type_B['minute']==58)]
np.mean(extra_T258['trip_time'])

1149.0

In [79]:
B_stats_df_notnull=B_stats_df_fill[B_stats_df_fill['minute_y']!='NaN']

In [91]:
B_stats_df_notnull['TRIP_ID'].unique()

array(['T1', 'T2', 'T3', 'T4', 'T5', 'T7', 'T9', 'T10', 'T11', 'T19',
       'T21', 'T24', 'T25', 'T26', 'T27', 'T28', 'T29', 'T30', 'T31',
       'T32', 'T38', 'T39', 'T40', 'T41', 'T44', 'T45', 'T46', 'T49',
       'T50', 'T51', 'T52', 'T53', 'T54', 'T55', 'T56', 'T57', 'T58',
       'T61', 'T65', 'T66', 'T67', 'T70', 'T73', 'T75', 'T77', 'T85',
       'T90', 'T96', 'T103', 'T104', 'T109', 'T110', 'T112', 'T113',
       'T114', 'T118', 'T122', 'T123', 'T125', 'T130', 'T135', 'T136',
       'T137', 'T142', 'T143', 'T147', 'T149', 'T153', 'T155', 'T156',
       'T162', 'T163', 'T166', 'T167', 'T171', 'T173', 'T177', 'T178',
       'T179', 'T181', 'T182', 'T184', 'T188', 'T189', 'T192', 'T195',
       'T196', 'T199', 'T202', 'T205', 'T207', 'T210', 'T213', 'T214',
       'T218', 'T219', 'T221', 'T222', 'T224', 'T225', 'T226', 'T227',
       'T232', 'T233', 'T236', 'T238', 'T247', 'T250', 'T254', 'T257',
       'T262', 'T273', 'T281', 'T283', 'T284', 'T291', 'T298', 'T303',
       'T305', 'T318', 'T324'], dtype=object)

In [101]:
B_stats_df_notnull[B_stats_df_notnull['TRIP_ID']=='T96']

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,datetime_x,month,day,hour,minute_x,datetime_y,minute_y,trip_time,mean_x,std_x,mean_y,std_y
1654,T96,B,NaN,60.0,20000688,1412062316,A,2014-09-30 03:31:56,9,1,3,31,2013-09-03 03:02:59,2,705,705,NaN,1531.67,1311.37
1655,T96,B,NaN,60.0,20000688,1412062316,A,2014-09-30 03:31:56,9,1,3,31,2013-09-03 03:55:16,55,4725,2910,2566.8,1531.67,1311.37
1656,T96,B,NaN,60.0,20000688,1412062316,A,2014-09-30 03:31:56,9,1,3,31,2013-09-24 03:55:26,55,1095,2910,2566.8,1531.67,1311.37
1657,T96,B,NaN,60.0,20000688,1412062316,A,2014-09-30 03:31:56,9,1,3,31,2013-09-17 03:19:17,19,1485,1485,NaN,1531.67,1311.37
1658,T96,B,NaN,60.0,20000688,1412062316,A,2014-09-30 03:31:56,9,1,3,31,2013-09-17 03:42:43,42,2085,2085,NaN,1531.67,1311.37
1659,T96,B,NaN,60.0,20000688,1412062316,A,2014-09-30 03:31:56,9,1,3,31,2013-09-24 03:32:34,32,585,585,NaN,1531.67,1311.37
1660,T96,B,NaN,60.0,20000688,1412062316,A,2014-09-30 03:31:56,9,1,3,31,2013-09-24 03:09:43,9,915,915,NaN,1531.67,1311.37
1661,T96,B,NaN,60.0,20000688,1412062316,A,2014-09-30 03:31:56,9,1,3,31,2013-09-24 03:58:30,58,1695,1695,NaN,1531.67,1311.37
1662,T96,B,NaN,60.0,20000688,1412062316,A,2014-09-30 03:31:56,9,1,3,31,2013-09-24 03:36:56,36,495,495,NaN,1531.67,1311.37

In [99]:
TRIP_ID='T400'
same_value=10
temp_predict_B = [0 for _ in range(len(B_stats_df_notnull))]
for i in range(0,len(B_stats_df_notnull)):
    if B_stats_df_notnull.iloc[i]['TRIP_ID']==TRIP_ID:
        temp_predict_B[i]=same_value
    else:
        minute_x=B_stats_df_notnull.iloc[i]['minute_x']
        temp_filter=B_stats_df_notnull[(B_stats_df_notnull['ORIGIN_STAND']==B_stats_df_notnull.iloc[i]['ORIGIN_STAND'])&
                                       (B_stats_df_notnull['month']==B_stats_df_notnull.iloc[i]['month'])&(B_stats_df_notnull['day']==B_stats_df_notnull.iloc[i]['day'])&
                                       (B_stats_df_notnull['hour']==B_stats_df_notnull.iloc[i]['hour'])&(B_stats_df_notnull['minute_y']==minute_x)]
        while temp_filter.empty:
                minute_x=minute_x+1
                temp_filter=B_stats_df_notnull[(B_stats_df_notnull['ORIGIN_STAND']==B_stats_df_notnull.iloc[i]['ORIGIN_STAND'])&
                                           (B_stats_df_notnull['month']==B_stats_df_notnull.iloc[i]['month'])&(B_stats_df_notnull['day']==B_stats_df_notnull.iloc[i]['day'])&
                                           (B_stats_df_notnull['hour']==B_stats_df_notnull.iloc[i]['hour'])&(B_stats_df_notnull['minute_y']==minute_x)]
                if minute_x>=60:
                    break
        minute_x=B_stats_df_notnull.iloc[i]['minute_x']
        while temp_filter.empty:        
                minute_x=minute_x-1
                temp_filter=B_stats_df_notnull[(B_stats_df_notnull['ORIGIN_STAND']==B_stats_df_notnull.iloc[i]['ORIGIN_STAND'])&
                                           (B_stats_df_notnull['month']==B_stats_df_notnull.iloc[i]['month'])&(B_stats_df_notnull['day']==B_stats_df_notnull.iloc[i]['day'])&
                                           (B_stats_df_notnull['hour']==B_stats_df_notnull.iloc[i]['hour'])&(B_stats_df_notnull['minute_y']==minute_x)]
        temp_predict_B[i]=temp_filter.iloc[0]['mean_x']
        same_value=temp_predict_B[i]
        print(same_value)
        TRIP_ID=B_stats_df_notnull.iloc[i]['TRIP_ID']
        print(TRIP_ID)

1795.0
T1
1125.0
T2
1656.4285714285713
T3
1005.0
T4
1665.0
T5
1215.0
T7
1245.0
T9
1935.0
T10
495.0
T11
1770.0
T19
1851.0
T21
1165.0
T24
1425.0
T25
1275.0
T26
1215.0
T27
1165.0
T28
675.0
T29
735.0
T30
1620.0
T31
2085.0
T32
675.0
T38
1851.0
T39
1365.0
T40
2115.0
T41
1875.0
T44
1215.0
T45
705.0
T46
1545.0
T49
495.0
T50
2985.0
T51
1365.0
T52
675.0
T53
1656.4285714285713
T54
735.0
T55
975.0
T56
1590.0
T57
1410.0
T58
1965.0
T61
2445.0
T65
1875.0
T66
1395.0
T67
1035.0
T70
1795.0
T73
765.0
T75
1995.0
T77
1185.0
T85
1065.0
T90
585.0
T96
2745.0
T103
15.0
T104
675.0
T109
735.0
T110
1965.0
T112
885.0
T113
855.0
T114
1140.0
T118
945.0
T122
975.0
T123
975.0
T125
1335.0
T130
1200.0
T135
2895.0
T136
465.0
T137
1515.0
T142
885.0
T143
735.0
T147
2235.0
T149
1785.0
T153
1725.0
T155
675.0
T156
1965.0
T162
2055.0
T163
2385.0
T166
1245.0
T167
1005.0
T171
1035.0
T173
2445.0
T177
1635.0
T178
2655.0
T179
1905.0
T181
1470.0
T182
3285.0
T184
1815.0
T188
885.0
T189
285.0
T192
975.0
T195
885.0
T196
2355.0
T199
5445.0
T202
2055.0
T205
1815.0
T207
3105.0
T210
705.0
T213
1425.0
T214
1545.0
T218
885.0
T219
1815.0
T221
2355.0
T222
435.0
T224
1095.0
T225
1155.0
T226
1245.0
T227
1155.0
T232
1215.0
T233
1095.0
T236
1095.0
T238
585.0
T247
585.0
T250
1095.0
T254
720.0
T257
720.0
T262
1215.0
T273
1185.0
T281
2385.0
T283
990.0
T284
735.0
T291
855.0
T298
1395.0
T303
825.0
T305
2325.0
T318
1095.0
T324

In [102]:
B_stats_df_notnull['predict']=temp_predict_B
stats_TypeB_predict=B_stats_df_notnull.drop_duplicates(['TRIP_ID'])
stats_TypeB_predict=stats_TypeB_predict[['TRIP_ID','predict']]
stats_TypeB_predict

/Users/songzhewei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

     TRIP_ID      predict
0         T1  1795.000000
64        T2  1125.000000
105       T3  1656.428571
169       T4  1005.000000
199       T5  1665.000000
223       T7  1215.000000
287       T9  1245.000000
320      T10  1935.000000
384      T11   495.000000
394      T19  1770.000000
458      T21  1851.000000
522      T24  1165.000000
586      T25  1425.000000
601      T26  1275.000000
605      T27  1215.000000
669      T28  1165.000000
733      T29   675.000000
743      T30   735.000000
807      T31  1620.000000
871      T32  2085.000000
912      T38   675.000000
921      T39  1851.000000
985      T40  1365.000000
1009     T41  2115.000000
1012     T44  1875.000000
1045     T45  1215.000000
1048     T46   705.000000
1063     T49  1545.000000
1075     T50   495.000000
1085     T51  2985.000000
...      ...          ...
2682    T210  3105.000000
2685    T213   705.000000
2689    T214  1425.000000
2717    T218  1545.000000
2746    T219   885.000000
2768    T221  1815.000000
2788    T222  2355.000000
2798    T224   435.000000
2813    T225  1095.000000
2824    T226  1155.000000
2832    T227  1245.000000
2891    T232  1155.000000
2909    T233  1215.000000
2911    T236  1095.000000
2918    T238  1095.000000
2925    T247   585.000000
2934    T250   585.000000
2952    T254  1095.000000
2959    T257   720.000000
3071    T262   720.000000
3182    T273  1215.000000
3293    T281  1185.000000
3300    T283  2385.000000
3325    T284   990.000000
3436    T291   735.000000
3547    T298   855.000000
3553    T303  1395.000000
3561    T305   825.000000
3580    T318  2325.000000
3583    T324  1095.000000

[121 rows x 2 columns]

In [21]:
type_A_test['TRIP_ID'].unique()

array(['T6', 'T8', 'T22', 'T23', 'T37', 'T60', 'T64', 'T68', 'T81', 'T83',
       'T84', 'T86', 'T91', 'T92', 'T95', 'T99', 'T100', 'T101', 'T111',
       'T115', 'T116', 'T117', 'T119', 'T120', 'T126', 'T127', 'T128',
       'T129', 'T133', 'T144', 'T145', 'T148', 'T151', 'T152', 'T157',
       'T158', 'T160', 'T164', 'T168', 'T170', 'T172', 'T175', 'T185',
       'T186', 'T187', 'T190', 'T194', 'T198', 'T200', 'T209', 'T215',
       'T216', 'T223', 'T230', 'T235', 'T251', 'T260', 'T293', 'T300',
       'T302', 'T304', 'T310', 'T312', 'T313', 'T314', 'T315', 'T317',
       'T319', 'T320', 'T323', 'T326', 'T327'], dtype=object)

In [32]:
TRIP_ID='T400'
same_value=10
temp_predict = [0 for _ in range(len(stats_df))]
for i in range(0,len(stats_df)):
    if stats_df.iloc[i]['TRIP_ID']==TRIP_ID:
        temp_predict[i]=same_value
    else:
        minute_x=stats_df.iloc[i]['minute_x']
        temp_filter=stats_df[(stats_df['month']==stats_df.iloc[i]['month'])&(stats_df['day']==stats_df.iloc[i]['day'])&
                    (stats_df['hour']==stats_df.iloc[i]['hour'])&(stats_df['minute_y']==minute_x)]
        while temp_filter.empty:
            minute_x=minute_x+1
            temp_filter=stats_df[(stats_df['month']==stats_df.iloc[i]['month'])&(stats_df['day']==stats_df.iloc[i]['day'])&
                        (stats_df['hour']==stats_df.iloc[i]['hour'])&(stats_df['minute_y']==minute_x)]
        temp_predict[i]=temp_filter.iloc[0]['mean_x']
        same_value=temp_predict[i]
        print(same_value)
        TRIP_ID=stats_df.iloc[i]['TRIP_ID']
        print(TRIP_ID)

1705.0
T6
1825.0
T8
1825.0
T22
1825.0
T23
2505.0
T37
915.0
T60
1683.0
T64
645.0
T68
1431.0
T81
1975.0
T83
1215.0
T84
1146.4285714285713
T86
1975.0
T91
1905.0
T92
1101.0
T95
1215.0
T99
1275.0
T100
1479.5454545454545
T101
1710.0
T111
1101.0
T115
1101.0
T116
1431.0
T117
1635.0
T119
1101.0
T120
1431.0
T126
1290.0
T127
1881.0
T128
1479.5454545454545
T129
1431.0
T133
1910.0
T144
1698.75
T145
1792.5
T148
1635.0
T151
1479.5454545454545
T152
1710.0
T157
1125.0
T158
1125.0
T160
1710.0
T164
1305.0
T168
1945.0
T170
1660.0
T172
1660.0
T175
1710.0
T185
2635.0
T186
1945.0
T187
3005.0
T190
1945.0
T194
1545.0
T198
2075.0
T200
1125.0
T209
1710.0
T215
1125.0
T216
1845.0
T223
2535.0
T230
1545.0
T235
1985.0
T251
635.0
T260
2065.0
T293
780.0
T300
1300.7142857142858
T302
1015.0
T304
1281.0
T310
975.0
T312
975.0
T313
2565.0
T314
955.0
T315
975.0
T317
930.0
T319
2467.5
T320
1455.0
T323
1281.0
T326
2175.0
T327

In [37]:
stats_df['predict']=temp_predict
stats_TypeA_predict=stats_df.drop_duplicates(['TRIP_ID'])
stats_TypeA_predict=stats_TypeA_predict[['TRIP_ID','predict']]
stats_TypeA_predict

      TRIP_ID      predict
0          T6  1705.000000
146        T8  1825.000000
292       T22  1825.000000
438       T23  1825.000000
584       T37  2505.000000
730       T60   915.000000
876       T64  1683.000000
1022      T68   645.000000
1168      T81  1431.000000
1513      T83  1975.000000
1858      T84  1215.000000
2203      T86  1146.428571
2548      T91  1975.000000
2893      T92  1905.000000
3238      T95  1101.000000
3583      T99  1215.000000
3928     T100  1275.000000
4273     T101  1479.545455
4618     T111  1710.000000
4963     T115  1101.000000
5308     T116  1101.000000
5653     T117  1431.000000
5998     T119  1635.000000
6343     T120  1101.000000
6688     T126  1431.000000
7033     T127  1290.000000
7378     T128  1881.000000
7723     T129  1479.545455
8068     T133  1431.000000
8413     T144  1910.000000
...       ...          ...
12121    T185  1710.000000
12355    T186  2635.000000
12589    T187  1945.000000
12823    T190  3005.000000
13057    T194  1945.000000
13291    T198  1545.000000
13525    T200  2075.000000
13759    T209  1125.000000
13993    T215  1710.000000
14227    T216  1125.000000
14461    T223  1845.000000
14695    T230  2535.000000
14913    T235  1545.000000
15147    T251  1985.000000
15251    T260   635.000000
15355    T293  2065.000000
15459    T300   780.000000
15648    T302  1300.714286
15837    T304  1015.000000
16026    T310  1281.000000
16215    T312   975.000000
16404    T313   975.000000
16593    T314  2565.000000
16782    T315   955.000000
16971    T317   975.000000
17160    T319   930.000000
17349    T320  2467.500000
17516    T323  1455.000000
17705    T326  1281.000000
17894    T327  2175.000000

[72 rows x 2 columns]

In [136]:
baseline_submit=stats_TypeA_predict.append(stats_TypeB_predict)
baseline_submit=baseline_submit.append(stats_TypeC_predict)
baseline_submit.to_csv('submit1.csv')